<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArX8z1mfwYQpExHmrzh4IeGMGsuCGsFcA</string>
	<key>GCM_SENDER_ID</key>
	<string>383516245637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educationApp</string>
	<key>PROJECT_ID</key>
	<string>education-app-master-52480</string>
	<key>STORAGE_BUCKET</key>
	<string>education-app-master-52480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383516245637:ios:ce86e56b2f9ec4316873ec</string>
</dict>
</plist>